.mybutton, .mydeletebutton {
  background-color: #008CBA;; /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.mydeletebutton {
  background-color: #555555;;
}