body{
  margin: 0;
  padding:0;
}

* {
  margin:0;
  padding: 0;
}
.taulukko {
  left: 20%;
  max-width: 50em;
  width: 30em;
  margin-left:auto;
  margin-right: auto;
  margin-top: 2em;
  border: 1px solid black;
  padding: 0.5em;
  background-color: white;
}

th, td {
  border: 1px solid black;  
  padding: 0.5em;
  
}
td{
  text-align: center;
}
th {
  background-color: #c5c5c9;
}
tr:nth-child(odd){background-color:  #cfeaf3;}

tr{
  padding: 0em;
}

.addForm{
  left: 20%;
  width: 20%;
  background-color: white;
}

h2{
  
  padding-top: 1em;
  width:20%;
  margin:auto;
}
.mybutton, .addbutton {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}
.addbutton{
  display: block;
  margin-top: 5px;
}

